# Environment Configuration
ENVIRONMENT=development
APP_TIMEOUT_SECONDS=10

# Database Configuration
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=finlens_db

# Model Specs
MODEL_CHECKPOINT=nlpaueb/legal-bert-base-uncased
MAX_TOKEN_LENGTH=256