# UI & Frontend
streamlit==1.40.1

 # Data analysis & visualization
numpy
matplotlib
seaborn
scikit-learn

# Authentication
bcrypt

# Natural Language Processing & Deep Learning
torch>=2.6.0  # Or just 'torch' to let pip find the compatible version
transformers>=4.46.3
spacy>=3.8.2

# Database & Concurrency
pymongo==4.10.1
pydantic==2.10.3
python-dotenv==1.0.1

# Data Ingestion & Scraping
playwright==1.49.0
beautifulsoup4==4.12.3
pandas==2.2.3
pdfplumber==0.11.4

# Quality Assurance & Testing
pytest==8.3.4
flake8==7.1.1